<!DOCTYPE html>
<html lang="en"
xmlns:th="http://www.thymeleaf.org"
>
	<head>
		<link th:href="@{/webjars/bootstrap/5.3.0/css/bootstrap.min.css}" rel="stylesheet" />
		 <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}" />
	</head>
		<body>
			
			<!--<div  sec:authorize="${hasAuthority('NORMAL'))}" >  
			 <h1>User ID: <span th:text="${Id}"></span></h1>
			 
			 </div> -->
			 
			 <div class="NavContainer">
			 <input type="text" class="input" placeholder="Enter a song"></input>
			 <div class="error"><p>please enter a value</div>
			 <button class="btn">Submit</button>
				 </div>
				 </div>
			 
			 <div class="searchContainer">
			 
			 
			 
			 
             	<div class ="SongsContainer" >
            
			   <ul class="innerContainer" >
                 <li class="inner" th:each="s,iStat:${Songs}" th:attr="data-index=${iStat.count+1} ,Song=${s}"> </li>
                     
                </ul>
          </div>
		</div>
       <script th:src="@{/javascript/Song.js}"></script>
			
		</body>
		</html>