
<!DOCTYPE html>

<html lang="en" 
xmlns:th="http://www.thymeleaf.org"
>
	<head >
		<meta charset="UFT-8">
		<link th:href="@{/webjars/bootstrap/5.3.0/css/bootstrap.min.css}" rel="stylesheet" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
		 
		
	</head>
</div>
		<body>
			
			
	         
             	<div class ="SongsContainer" >
				
					
             	
			   <ul class="innerContainer" >
                 <li class="inner" th:each="s,iStat:${Songs}" th:attr="data-index=${iStat.count+1} ,Song=${s}"> </li>
                    
                </ul>

          </div>
                          
		</div>
       <script th:src="@{/javascript/Song.js} defer"></script>
		
		</body>
		</html>